/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
} */
body{
	background-color: #2196f3;
	font-family: 'Roboto', 'FontAwesome';
}

section {
	box-shadow: 2px 10px 39px -7px rgba(0,0,0,0.76);
-webkit-box-shadow: 2px 10px 39px -7px rgba(0,0,0,0.76);
-moz-box-shadow: 2px 10px 39px -7px rgba(0,0,0,0.76);
/* -webkit-box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, -20px -8px 15px -2px rgba(0,0,0,0); 
box-shadow: 5px 5px 0px 0px #289FED, 10px 10px 0px 0px #5FB8FF, -20px -8px 15px -2px rgba(0,0,0,0); */

	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	margin-top: -20px;
	margin-bottom: -100px;
	background-color: white;
	padding: 15px;
	/* border: 3px dashed #BBDEFB; */
	border-radius: 10px;
	
}
section h1 {
	text-align: center;
	font-size: 20px;
}
section h2 {
	text-align: center;
}

header {
	background-image: url(../public/images/code_bg1.jpg);
	background-size: cover;
	border-radius: 10px;
}


div {
	padding: 15px;
	border: 1px hidden black;
	border-radius: 2px;
}
.div-meio {
	padding: 15px;
	border: 1px hidden black;
	background-color: #eef5fd;
	border-radius: 2px;
  }
.div-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	font-family: 'FontAwesome';
	margin-top: 10px;
	background-color: #A8DADC;
}

/* button{
	
	padding: 15px;
	border: 1px hidden black;

	background-color: #eef5fd;
	border-radius: 2px;
margin-right: 10px;
border-radius: 5%;
border: none;
color: white;
text-align: center;
padding: 15px; 
text-decoration: none;
display: inline-block;
font-size: 16px;
} */

img {
	width: 150px;
	height: 150px;
	border-radius:100%;	
	border: 4px double ;
	border-color: #21f388;
	margin-left: auto;
	margin-right: auto;
	display: block;

}

li{
	padding: 3px;
}

/* unvisited link */

a:link {
	color: #E63946;
	text-decoration: none;
  }
  
  /* visited link */
  a:visited {
	color: #E63946;
	text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
	color: #A8DADC;
  }
  
  /* selected link */
  a:active {
	color: #457B9D;
  }

  a.a-git{
	  
font-family: 'Roboto', 'FontAwesome';
color: #457B9D;
background-color: #24292E;
padding: 15px;
border: 1px hidden black;
/* propriedade visual : valor */
	
border-radius: 2px;
margin-right: 10px;
margin-top: 10px;
border-radius: 5%;
border: none;
color: white;
text-align: center;
/* padding: 15px; */
text-decoration: none;
display: inline-block;
font-size: 16px;
  }

  a.a-fb{
	font-family: 'Roboto', 'FontAwesome';
	color: #457B9D;
	background-color: #129CF7;
	padding: 15px;
	border: 1px hidden black;
	/* propriedade visual : valor */
		
	border-radius: 2px;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 5%;
	border: none;
	color: white;
	text-align: center;
	/* padding: 15px; */
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	  }

	  a.a-insta{
		font-family: 'Roboto', 'FontAwesome';
		color: #457B9D;
		background-color: #B23591;
		padding: 15px;
		border: 1px hidden black;
		/* propriedade visual : valor */
			
		border-radius: 2px;
		margin-right: 10px;
		margin-top: 10px;
		border-radius: 5%;
		border: none;
		color: white;
		text-align: center;
		/* padding: 15px; */
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		  }
		  a.a-header{
			  color: black;
		  }